<nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(210, 213, 214, 0.5);">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand mb-0 h1" href="#">Recipe Book</a>
    </div>

    <div class="nav collapse navbar-collapse" role="navigation">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#" (click) = "onSelect('recipe')">Recipies</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click) = "onSelect('shopping-list')">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="dropdown">
          <a class="dropdown-toggle nav-item" id="my-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="color: black;">Manage</a>
          <ul class="dropdown-menu" aria-labelledby="my-dropdown">
            <li class="dropdown-item active" href="#">Save Data</li>
            <li class="dropdown-item" href="#">Fetch Data</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
